body {
	background-color:#ff7b61!important;
}

#profile-wrapper{
	text-align: center;	
}

#profile-pic{
	width:150px;
	height:150px;
	border-radius:50%;
	margin-left: auto;
	margin-right: auto;
}

#social{
	padding-top: 50px;
}